html
  head
    link(rel='stylesheet' href='styles/bootstrap.min.css')
    link(rel="stylesheet" href="styles/styles.css")
    title= title
    body
      div(class='mh-100' id='root')
script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous")

script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")

script(src="js/bootstrap.min.js")

script(src="bundle.js")
